*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
@media only screen and (max-width: 5000px) {
    #section1 {
        background: url(Over_the_edge3.png);
        background-size:cover;
        background-repeat: no-repeat;
        height: 212vh;
    }
    header .logo{
        width: 200px;
        border-radius: 10px;
    }
    #btn{
        font-size: 2em;
        padding: 30px 80px;
        top: 1080px;
    }
}
@media only screen and (max-width: 914px) {
    #section1 {
        background: url(Over_the_edge3.png);
        background-size:cover;
        background-repeat: no-repeat;
        height: 67vh;
    }
    header .logo{
        width: 120px;
        border-radius: 10px;
    }
    #btn{
        font-size: 2.9em;
        padding: 5px 10px;
        top: 600px;
    }
}
@media only screen and (max-width: 822px) {
    #section1 {
        background: url(Over_the_edge3.png);
        background-size:cover;
        background-repeat: no-repeat;
        height: 69.5vh;
    }
    header .logo{
        width: 120px;
        border-radius: 10px;
    }
    #btn{
        font-size: 2.5em;
        padding: 5px 10px;
        top: 520px;
    }
}
@media only screen and (max-width: 770px) {
    #section1 {
        background: url(Over_the_edge3.png);
        background-size:cover;
        background-repeat: no-repeat;
        height: 75vh;
    }
    header .logo{
        width: 120px;
        border-radius: 10px;
    }
    #btn{
        font-size: 2.5em;
        padding: 5px 10px;
        top: 480px;
    }
}
@media only screen and (max-width: 542px) {
    #section1 {
        background: url(Over_the_edge3.png);
        background-size:cover;
        background-repeat: no-repeat;
        height: 80vh;
    }
    header .logo{
        width: 50px;
        border-radius: 10px;
    }
    #btn{
        font-size: 1.5em;
        padding: 5px 10px;
        top: 325px;
    }
}
@media only screen and (max-width: 416px) {
    #section1 {
        background: url(Over_the_edge3.png);
        background-size:cover;
        background-repeat: no-repeat;
        height: 46vh;
    }
    header .logo{
        width: 50px;
        border-radius: 10px;
    }
    #btn{
        font-size: 1.5em;
        padding: 5px 10px;
        top: 200px;
    }
}
@media only screen and (max-width: 414px) {
    #section1 {
        background: url(Over_the_edge3.png);
        background-size:cover;
        background-repeat: no-repeat;
        height: 45vh;
    }
    header .logo{
        width: 50px;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 397px) {
    #section1 {
        background: url(Over_the_edge3.png);
        background-size:cover;
        background-repeat: no-repeat;
        height: 46vh;
    }
    header .logo{
        width: 50px;
        border-radius: 10px;
    }
    #btn{
        font-size: 1.5em;
        padding: 5px 10px;
        top: 180px;
    }
}
@media only screen and (max-width: 377px) {
    #section1 {
        background: url(Over_the_edge3.png);
        background-size:cover;
        background-repeat: no-repeat;
        height: 56vh;
    }
    header .logo{
        width: 50px;
        border-radius: 10px;
    }
}
@media only screen and (max-width: 362px) {
    #section1 {
        background: url(Over_the_edge3.png);
        background-size:cover;
        background-repeat: no-repeat;
        height: 48.7vh;
    }
    header .logo{
        width: 50px;
        border-radius: 10px;
    }
    #btn{
        font-size: 1.5em;
        padding: 5px 10px;
        top: 170px;
    }
}
#section2
{
    background: black;
    height: 70vh;
    width: 100%;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: whitesmoke;
    color: #000000;
}
section
{
    position: relative;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#text
{   
    position: absolute;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #ef6d6d, 0 0 5px #6a95f3;
    white-space: nowrap;
    font-size: 7vw;
    z-index: 9;
}
#text1
{
    position: absolute; 
    top: 300px;
    color: white;
    text-shadow: 0 0 5px #ef6d6d, 0 0 5px #6a95f3;
    white-space: nowrap;
    font-size: 3vw;
    z-index: 9;
}
#btn
{   
    background: linear-gradient(80deg,#e00f3c,#dd4362,#0911e8);
    text-decoration: none;
    display: inline-block;
    border-radius: 40px;
    border: solid #ffd966 2px;
    color: #ffffff;
    z-index: 9;
    transform: translateY(100px);
    position: absolute;
}
.btn1:hover {
    animation: animate 8s linear infinite;
}
   
@keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
}
   
.btn1:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #e00f3c,#dd4362,#4046ec, violet);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: .5s;
}
   
.btn1:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}
.sec
{
    position: relative;
    padding: 40px;
    background: #000000;
}
.sec h2
{
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
}
.sec p
{
    font-size: 1em;
    color: white;
}
html{
    scroll-behavior: smooth;
}

footer .wave 
{
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 30px;
    background: red;
    background-size: 1000px 100px;
}
div
{
    display: block;
}
footer 
{
    justify-content: center;
    position: relative;
    background: #000000;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer .social_icon,
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
footer .social_icon li,
footer .menu li
{
    list-style: none;
}
footer .social_icon li a
{
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover
{
    transform: translateY(-10px);
}
footer .menu li a
{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover
{
    opacity: 1;
}
footer p
{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
